/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 de nov. de 2024, 14:02:01
    Author     : silva
*/

:root {
    --cor-fundo: #FAA682;
    --cor-header: #400106;
    --cor-texto: #fff; 
    --cor-texto-sec:#c5c5c5;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--cor-fundo); /* Para garantir fundo enquanto a imagem carrega */
}

/* Pseudo-elemento para o fundo desfocado */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/ceepbg.jpg') no-repeat center center; /* Caminho correto */
    background-size: cover;
    filter: blur(4px); /* Ajuste o valor do blur conforme necessário */
    z-index: -1; /* Garante que a imagem fique atrás de todo o conteúdo */
}

/* Container de conteúdo */
.container {
    position: relative;
    z-index: 1; /* Faz com que o conteúdo fique acima do fundo */
    background-color: rgba(255, 255, 255, 0.85); /* Opacidade para dar destaque ao conteúdo */
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px; /* Ajuste o valor conforme necessário */
    margin-bottom: 50px; /* Ajuste o valor conforme necessário */
    max-width: 1200px;  /* Limita a largura máxima do container */
    margin-left: auto;  /* Centraliza horizontalmente */
    margin-right: auto; /* Centraliza horizontalmente */
}

/* Centralizando o conteúdo dentro do contêiner */
.main-section {
    display: none;
    padding: 20px; /* Ajuste conforme necessário */
    background-color: transparent;
    border-radius: 8px;
    width: 100%; /* Garantir que a largura das seções seja 100% */
    margin-top: 20px; /* Ajuste o valor conforme necessário */
}

#home-section {
    display: block;
}


/* CSS */
#myChart {
    max-width: 400px;  /* Limita a largura máxima do gráfico */
    max-height: 400px; /* Limita a altura máxima do gráfico */
    width: 100%;       /* Ajusta a largura ao contêiner */
    height: auto;      /* Impede redimensionamento vertical */
    margin: 0 auto;    /* Centraliza o gráfico */
}

.headertop {
    background-color: var(--cor-header);
    
}

.navbar-brand, .nav-link {
    color: var(--cor-texto);
}

.navbar-brand:hover, .nav-link:hover {
    color: var(--cor-texto-sec);
}

.fundo {
    background-color: var(--cor-fundo);
}

/* Centralizando os botões lado a lado */
.button-container {
    display: flex;
    justify-content: center;  /* Centraliza os botões horizontalmente */
    gap: 10px;                /* Adiciona espaçamento entre os botões */
    margin-top: 20px;
}

.button-container .btn {
    /* Botões pequenos */
    font-size: 0.875rem;  /* Tamanho pequeno da fonte */
    padding: 5px 15px;    /* Menor padding para botões menores */
    height: auto;         /* Permite que o botão se ajuste ao conteúdo */
}
