:root {
    --cor-fundo: #400106;
    --cor-botao: #8B0000;;
    --cor-botao-sec: #B22222;
    --cor-texto: black;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/ceepbg.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Ajuste o valor para mais ou menos desfoque */
    z-index: -1;
}


.login-container {
    background-color:rgba(255, 255, 255, 0.8); /* ou uma das outras sugestões */
    color: white;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.login-form {
width: 100%;
max-width: 400px;
padding: 30px;
background-color: transparent;
color:var(--cor-texto);
border-radius: 8px;
}

.inputs-form {
    margin-top: 4%;
}

.botao {
    background-color: var(--cor-botao);
    border-color: var(--cor-botao);
}

.botao:hover {
    background-color: var(--cor-botao-sec);
    border-color: var(--cor-botao-sec);
}

.link {
    color: var(--cor-botao);
}

.link:hover {
    color: var(--cor-botao-sec);
}