/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 30 de out. de 2024, 10:50:11
    Author     : Administrador
*/
       .login-container {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        margin-top: 100px;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        background-color: red;
    }
.login-form {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
